.testCaseTable{
    padding: 20px 0;
}
    .testCaseTable td.Id {
        width: 1%;
    }

    .testCaseTable td.ActionCell {
        width: 20%;
    }

    .testCaseTable td.ResultCell {
        width: 60%;
    }

    .testCaseTable td.OptionsCell {
        width: 19%;
    }

.tableInputAction {
    width: 99%;
    height: 40px;
}

.tableInputResult {
    width: 99%;
    height: 40px;
}

.testCaseName{
    width: 20%;
    height: 22px;
    font-size: 20px;
}
