@model IEnumerable<Test_Manager_Alpha.Models.Project>

@{
    ViewBag.Title = "Test Manager: All Projects";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p><a asp-action="Create">Add project</a></p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="OpenProject" asp-route-projectName="@item.Name">@item.Name</a></td>
        </tr>
    }
</table>
