@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.TestCase

<link rel="stylesheet" type="text/css" href="~/CSS/TestCase/Edit.css" />
<link rel="stylesheet" type="text/css" href="~/CSS/Shared/_Layout.css" />

@{
	ViewBag.Title = @Model.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
}

<div><a asp-action="ShowInfo" asp-controller="Project" asp-route-projectName=@Model.Suite.Project.Name>Return</a></div>
<p hidden id="TestCaseId">@Model.Id</p>
<input id="save" class="commonButton"value="Save" />
<table class="testCaseTable" id="tblSteps">
	<thead>
		<tr>
			<th>Id</th>
			<th>Action</th>
			<th>Result</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div><p id="response"></p></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/TestCaseEdit.js"></script>