<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body{
            background-color:lightgrey;
        }
    </style>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/Home/Index">Home</a></div>
    <div>
        @RenderBody()
    </div>
    <footer>@RenderSection("Footer", false)</footer>
</body>
</html>
