@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/CSS/Shared/_Layout.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <a class="menuButton" asp-action="Index" asp-controller="Home">Home</a>
    <div>
        @RenderBody()
    </div>
    <footer>@RenderSection("Footer", false)</footer>
</body>
</html>
